# Validator's consensus address
export VALIDATOR=cosmosvaloperxxx

# Bot's bech address
export BOT=cosmos1xxx

# chain ID
export CHAIN=cosmoshub-4

# chain CLI
export BIN=gaiad

# native coin denomination
export DENOM=uatom

# threshold to allow restaking
export THRESHOLD=1000000

# gas limit for restaking transaction
export GAS_LIMIT=200000

# gas price for calculating tx fee
export GAS_PRICE=0.025

# transaction memo
export MEMO="lorem ipsum dolor sit amet"

# keyring name
export KEY=test_key_name

# uncomment to specify a custom temporary directory
#export TMP=./temp

# uncomment to specify a custom RPC endpoint
#export RPC=http://127.0.0.1:26657

# uncomment to specify how many jobs to spawn for GNU Parallel
#export PARALLEL=50

# uncomment to specify how many transactions to include in 1 batch
#export BATCH=50

# uncomment to specify a broadcast mode (block/sync/async)
# Note: "sync" may cause issues when broadcasting batches of transactions
#export BROADCAST_MODE=block

# uncomment to only generate transactions, but not broadcast them to the chain.
# Note: use with "TMP" for debugging
#export DRY_RUN=1
